@import "variables";
@import "header";
@import "landing";
@import "solicitudes";
@import "addFormModal";

body{
  background-color: $body-background-color;
  width: $body-width;
  margin: $body-margin;
  font-family: $font-family;
}

.white-arrow {
  height: 41px;
  width: 41px;
  border: $white solid 1px;
  border-radius: 20px;
  background-color: $geopagos-blue;
}